name: test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '*.md'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CI: true

    strategy:
      fail-fast: true
      matrix:
        node-version:
          - 20
        experimental: [false]
        include:
          - node-version: lts/*
            experimental: true

    continue-on-error: ${{ matrix.experimental }}

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.node-version }}-${{ matrix.experimental }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check repository dependency graph
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        if: ${{ github.event_name == 'pull_request' }}

      - name: Setup Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: NPM config
        run: |
          npm pkg delete scripts.prepare
          npm install --ignore-scripts --pure-lockfile

      - name: Build
        run: npm run build --if-present

      - name: Test
        run: npm run test --if-present
